{# templates/home.html.twig #}
{% extends 'base.html.twig' %}
{% set page = 'home' %}

{% block body %}
  <body>
    <div class="container">
      <div class="jumbotron bg-white mt-5">
        {% for message in app.flashes('success') %}
          <div class="alert alert-success text-center">
            {{ message }}
          </div>
        {% endfor %}
        <div class="row m-auto align-items-center justify-content-between pt-3">
          <div class="col-auto mb-3">
            <div class="page-header-icon">
              <i data-feather="list"></i>
            </div>
            <h1 class="display-4">Liste de figures</h1>
          </div>
          <div class="col-12 col-xl-auto mb-3">
            <a class="btn btn-md btn-outline-primary m-auto" href="{{path('add-trick', { 'slug': 'ajout d\'une figure'})}}">
              <i class="me-1" data-feather="plus"></i>
              Ajouter une figure
            </a>
          </div>
        </div>
        <p class="lead">
          <div class="row gx-5">
            {% for trick in tricks %}
              {% set haslatestPicture = false %}
              <div class="col-md-6 col-xl-4 mb-5">
                <a class="card post-preview lift" href="{{  path('show-trick', { 'slug':trick.name|lower,'id': trick.id}) }}">
                  {% for latestPicture in latestPictures %}
                    {% if latestPicture.trick.id == trick.id %}
                      {% set haslatestPicture = true %}
                      <img class="card-img-top" src="{{ asset('media/pictures/' ~ latestPicture.name) }}" alt="{{ latestPicture.name }}">
                    {% endif %}
                  {% endfor %}
                  {% if not haslatestPicture %}
                    <img class="card-img-top" src="{{ asset('default-media/picture-plus-icon.jpg') }}" alt="image de la figure">
                  {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{ trick.name }}</h5>
                  </div>
                  <div class="card-footer">
                    <div class="post-preview-meta">
                      <div class="post-preview-meta-details col-lg col-md col-sm">
                        <div class="post-preview-meta-details-date">Créer par le
                          {{trick.createdAt|date('d/m/Y') }}</div>
                      </div>
                      <button class="btn btn-black btn-sm col-lg-3">Afficher</button>
                    </div>
                  </div>
                </a>
                <div class="post-preview-meta">
                  <a class="btn btn-sm" href="#">Modif
                    <i class="ml-1 text-info" data-feather="edit"></i>
                  </a>
                  <!-- Button trigger modal -->
                  <button class="btn danger btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ trick.id }}" href="">Supp
                    <i class="text-danger ml-1" data-feather="trash"></i>
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="staticBackdrop{{ trick.id }}" data-bs-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Voulez-vous supprimer cette figure ?</h5>
                          <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">{{trick.name}}</div>
                        <div class="modal-footer">
                          <button class="btn btn-info" type="button" data-bs-dismiss="modal">Annuler</button>
                          <form action="{{ path('delete-trick', { 'id': trick.id }) }}">
                            <button class="btn btn-danger" type="submit">Supprimer</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </p>
        <div class="container-flex text-center">
          <a class="btn btn-outline-primary btn-lg m-auto" href="#" role="button">Voir plus de figures</a>
        </div>
      </div>
      <hr class="my-4">
    </div>
  </body>
{% endblock %}
