{# templates/home.html.twig #}
{% extends 'base.html.twig' %}
{% set page = 'home' %}

{% block body %}
  <body>
    <div class="container">
      <div class="jumbotron bg-white mt-5">
        <div class="row m-auto align-items-center justify-content-between pt-3">
          <div class="col-auto mb-3">
            <div class="page-header-icon">
                <i data-feather="list"></i>
            </div>
            <h1 class="display-4">Liste de figures</h1>
          </div>
          <div class="col-12 col-xl-auto mb-3">
            <a class="btn btn-md btn-outline-primary m-auto" href="{{path('add-trick', { 'slug': 'ajout d\'une figure'})}}">
              <i class="me-1" data-feather="plus"></i>
              Ajouter une figure
            </a>
          </div>
        </div>
        <p class="lead">
          <div class="row gx-5">
            <div class="col-md-6 col-xl-4 mb-5">
              <a class="card post-preview lift {% if page == 'showtrick' %}active{% endif %}" href="{{ path('show-trick', { 'slug': 'nom de la figure'}) }}">
                <img class="card-img-top" src="{{ asset('pictures/snow-trickers-img.jpeg') }}"alt="trick"/>
                <div class="card-body">
                  <h5 class="card-title">Trick-1</h5>
                </div>
                <div class="card-footer">
                  <div class="post-preview-meta">
                    <div class="post-preview-meta-details col-lg col-md col-sm">
                      <div class="post-preview-meta-details-date">Créer par le 12/02/2024</div>
                    </div>
                    <button class="btn btn-black btn-sm col-lg-3" href="">Afficher</button>
                  </div>
                </div>
              </a>
              <div class="post-preview-meta">
                <a class="btn btn-sm" href="#">Modif <i class="ml-1 text-info" data-feather="edit"></i></a>
                <a class="btn danger btn-sm" href="">Supp <i class="text-danger ml-1" data-feather="trash"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-5">
              <a class="card post-preview lift" href="{{ path('show-trick', { 'slug': 'nom de la figure'}) }}">
                <img class="card-img-top" src="{{ asset('pictures/trick1.jpeg') }}"alt="trick"/>
                <div class="card-body">
                  <h5 class="card-title">Trick-2</h5>
                </div>
                <div class="card-footer">
                  <div class="post-preview-meta">
                    <div class="post-preview-meta-details col-lg col-md col-sm">
                      <div class="post-preview-meta-details-date">Créer par le 12/02/2024</div>
                    </div>
                    <button class="btn btn-black btn-sm col-lg-3" href="">Afficher</button>
                  </div>
                </div>
              </a>
              <div class="post-preview-meta">
                <a class="btn btn-sm" href="#">Modif <i class="ml-1 text-info" data-feather="edit"></i></a>
                <a class="btn danger btn-sm" href="">Supp <i class="text-danger ml-1" data-feather="trash"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-5">
              <a class="card post-preview lift" href="">
                <img class="card-img-top" src="{{ asset('pictures/trick2.jpeg') }}"alt="trick"/>
                <div class="card-body">
                  <h5 class="card-title">Trick-3</h5>
                </div>
                <div class="card-footer">
                  <div class="post-preview-meta">
                    <div class="post-preview-meta-details col-lg col-md col-sm">
                      <div class="post-preview-meta-details-date">Créer par le 12/02/2024</div>
                    </div>
                    <button class="btn btn-black btn-sm col-lg-3" href="">Afficher</button>
                  </div>
                </div>
              </a>
              <div class="post-preview-meta">
                <a class="btn btn-sm" href="#">Modif <i class="ml-1 text-info" data-feather="edit"></i></a>
                <a class="btn danger btn-sm" href="">Supp <i class="text-danger ml-1" data-feather="trash"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-5">
              <a class="card post-preview lift" href="">
                <img class="card-img-top" src="{{ asset('pictures/trick10.jpeg') }}"alt="trick"/>
                <div class="card-body">
                  <h5 class="card-title">Trick-4</h5>
                </div>
                <div class="card-footer">
                  <div class="post-preview-meta">
                    <div class="post-preview-meta-details col-lg col-md col-sm">
                      <div class="post-preview-meta-details-date">Créer par le 12/02/2024</div>
                    </div>
                    <button class="btn btn-black btn-sm col-lg-3" href="">Afficher</button>
                  </div>
                </div>
              </a>
              <div class="post-preview-meta">
                <a class="btn btn-sm" href="#">Modif <i class="ml-1 text-info" data-feather="edit"></i></a>
                <a class="btn danger btn-sm" href="">Supp <i class="text-danger ml-1" data-feather="trash"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-5">
              <a class="card post-preview lift" href="">
                <img class="card-img-top" src="{{ asset('pictures/trick4.jpeg') }}"alt="trick"/>
                <div class="card-body">
                  <h5 class="card-title">Trick-5</h5>
                </div>
                <div class="card-footer">
                  <div class="post-preview-meta">
                    <div class="post-preview-meta-details col-lg col-md col-sm">
                      <div class="post-preview-meta-details-date">Créer par le 12/02/2024</div>
                    </div>
                    <button class="btn btn-black btn-sm col-lg-3" href="">Afficher</button>
                  </div>
                </div>
              </a>
              <div class="post-preview-meta">
                <a class="btn btn-sm" href="#">Modif <i class="ml-1 text-info" data-feather="edit"></i></a>
                <a class="btn danger btn-sm" href="">Supp <i class="text-danger ml-1" data-feather="trash"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-5">
              <a class="card post-preview lift" href="">
                <img class="card-img-top" src="{{ asset('pictures/trick5.jpeg') }}" alt="trick"/>
                <div class="card-body">
                  <h5 class="card-title">Trick-6</h5>
                </div>
                <div class="card-footer">
                  <div class="post-preview-meta">
                    <div class="post-preview-meta-details col-lg col-md col-sm">
                      <div class="post-preview-meta-details-date">Créer par le 12/02/2024</div>
                    </div>
                    <button class="btn btn-black btn-sm col-lg-3" href="">Afficher</button>
                  </div>
                </div>
              </a>
              <div class="post-preview-meta">
                <a class="btn btn-sm" href="#">Modif <i class="ml-1 text-info" data-feather="edit"></i></a>
                <a class="btn danger btn-sm" href="">Supp <i class="text-danger ml-1" data-feather="trash"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-5">
              <a class="card post-preview lift" href="">
                <img class="card-img-top" src="{{ asset('pictures/trick6.jpeg') }}"alt="trick"/>
                <div class="card-body">
                  <h5 class="card-title">Trick-7</h5>
                </div>
                <div class="card-footer">
                  <div class="post-preview-meta">
                    <div class="post-preview-meta-details col-lg col-md col-sm">
                      <div class="post-preview-meta-details-date">Créer par le 12/02/2024</div>
                    </div>
                    <button class="btn btn-black btn-sm col-lg-3" href="">Afficher</button>
                  </div>
                </div>
              </a>
              <div class="post-preview-meta">
                <a class="btn btn-sm" href="#">Modif <i class="ml-1 text-info" data-feather="edit"></i></a>
                <a class="btn danger btn-sm" href="">Supp <i class="text-danger ml-1" data-feather="trash"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-5">
              <a class="card post-preview lift" href="">
                <img class="card-img-top" src="{{ asset('pictures/trick7.jpeg') }}"alt="trick"/>
                <div class="card-body">
                  <h5 class="card-title">Trick-8</h5>
                </div>
                <div class="card-footer">
                  <div class="post-preview-meta">
                    <div class="post-preview-meta-details col-lg col-md col-sm">
                      <div class="post-preview-meta-details-date">Créer par le 12/02/2024</div>
                    </div>
                    <button class="btn btn-black btn-sm col-lg-3" href="">Afficher</button>
                  </div>
                </div>
              </a>
              <div class="post-preview-meta">
                <a class="btn btn-sm" href="#">Modif <i class="ml-1 text-info" data-feather="edit"></i></a>
                <a class="btn danger btn-sm" href="">Supp <i class="text-danger ml-1" data-feather="trash"></i></a>
              </div>
            </div>
            <div class="col-md-6 col-xl-4 mb-5">
              <a class="card post-preview lift" href="">
                <img class="card-img-top" src="{{ asset('pictures/trick9.jpeg') }}"alt="trick"/>
                <div class="card-body">
                  <h5 class="card-title">Trick-9</h5>
                </div>
                <div class="card-footer">
                  <div class="post-preview-meta">
                    <div class="post-preview-meta-details col-lg col-md col-sm">
                      <div class="post-preview-meta-details-date">Créer par le 12/02/2024</div>
                    </div>
                    <button class="btn btn-black btn-sm col-lg-3" href="">Afficher</button>
                  </div>
                </div>
              </a>
              <div class="post-preview-meta">
                <a class="btn btn-sm" href="#">Modif <i class="ml-1 text-info" data-feather="edit"></i></a>
                <a class="btn danger btn-sm" href="">Supp <i class="text-danger ml-1" data-feather="trash"></i></a>
              </div>
            </div>
          </div>
        </p>
        <div class="container-flex text-center"> 
          <a class="btn btn-outline-primary btn-lg m-auto" href="#" role="button">Voir plus de figures</a>
        </div>
      </div>
      <hr class="my-4">
    </div>
  </body>
{% endblock %}
