{# templates/home.html.twig #}
{% extends 'base.html.twig' %}
{% set page = 'showtrick' %}

{% block header %}
  <header>
    <nav class="navbar navbar-marketing navbar-expand-lg bg-light navbar-light fixed-top">
      <div class="container bg-light px-5">
        <a class="navbar-brand text-black" href="{{ path('homepage') }}">Snow-Tricks</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <hr class="navbar-nav mr-auto">
          <a class="nav-link {% if page == 'home' %}active{% endif %}" href="{{ path('homepage') }}">Accueil</a>
          <hr class="navbar-nav mr-5">
          <a class="nav-link navbar-text {% if page == 'register' %}active{% endif %}" href="{{ path('register', { 'slug': 'inscription'}) }}">Inscription</a>
          <hr class="navbar-nav mr-5">
          <a class="nav-link navbar-text {% if page == 'login' %}active{% endif %}" href="{{ path('connexion', { 'slug': 'loginForm'}) }}">Connexion
          </a>
        </div>
      </div>
    </nav>
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      {# {% if trick is defined %} #}
      <div class="carousel-inner">
        <div class="carousel-item active">
          {% if latestPicture is null %}
            <img class="trick-header-img" src="{{ asset('default-media/trick24.jpeg') }}" alt="Description de l'image">
          {% else %}
            <img class="trick-header-img" src="{{ asset('media/pictures/' ~ latestPicture.name) }}" alt="{{ latestPicture.name }}">
          {% endif %}
          <div class="carousel-caption d-none d-md-block">
            <a class="" href="">
              <i class="mr-3" data-feather="edit"></i>
            </a>
            <a href="">
              <i data-feather="trash"></i>
            </a>
            <h5>{{ trick.name}}</h5>
          </div>
        </div>
        {# <div class="carousel-item active">
            {% set hasLatestPicture = false %}
            {% for picture in latestPictures %}
              {% if latestPicture.trick.id == trick.id %}
                {% set hasLatestPicture = true %}
                <img class="trick-header-img" src="{{ asset('media/pictures/' ~ latestPicture.name) }}" alt="{{ latestPicture.name }}">
              {% endif %}
            {% endfor %}
            {% if not hasLatestPicture %}
              <img class="trick-header-img" src="{{ asset('default-media/trick24.jpeg') }}" alt="Description de l'image">
            {% endif %}
            <div class="carousel-caption d-none d-md-block">
              <a class="" href="">
                <i class="mr-3" data-feather="edit"></i>
              </a>
              <a href="">
                <i data-feather="trash"></i>
              </a>
              <h5>{{ trick.name}}</h5>
            </div>
          </div> #}
      </div>
      {# {% endif %} #}
    </div>
  </header>
{% endblock %}
{% block body %}
  <body><div class="container" <div class="jumbotron"> <h1 class="display-4 pt-5">médias</h1>
  <p class="lead">
    <div class="row gx-5">
      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Images</h5>
              <p class="card-text">
                <div id="carouselExampleDark" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  </div>
                  <div class="carousel-inner">
                    {% if pictures is defined %}
                      {% set haspicture = false %}
                      {% for picture in pictures %}
                        {% if picture.trick.id == trick.id %}
                          {% set haspicture = true %}
                          <div class="carousel-item active">
                            <img class="card-img-top trick-pictures" src="{{ asset('media/pictures/' ~ picture.name) }}" alt="{{ picture.name }}">
                            <div class="carousel-caption d-none d-md-block">
                              <h5 class="text-dark">{{ trick.name }}</h5>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                      {% if not haspicture %}
                        <a href="" class="carousel-item active">
                          <img class="card-img-top trick-pictures" src="{{ asset('default-media/picture-plus-icon.jpg') }}" alt="image de la figure">
                          <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-white">Ajouter de nouvelles images</h5>
                          </div>
                        </a>
                      {% endif %}
                    {% endif %}
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Vidéos</h5>
              <p class="card-text">
                <div id="carouselExampleSlidesOnly trick-media-video" class="carousel slide carousel-fade" data-bs-ride="carousel">
                  <div class="carousel-inner">
                    {% if videos is defined %}
                      {% set hasvideo = false %}
                      {% for video in videos %}
                        {% if video.trick.id == trick.id %}
                          {% set hasvideo = true %}
                          <div class="carousel-item active">
                            <iframe class="card-img-top trick-videos" src="{{ video.url}}" frameborder="0" allowfullscreen="allowfullscreen" type="video/mp4"></iframe>
                            <div class="carousel-caption d-none d-md-block">
                              <h5 class="text-dark">{{ trick.name }}</h5>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                      {% if not hasvideo %}
                        <a href="" class="carousel-item active">
                          <img class="card-img-top trick-videos pb-5" src="{{ asset('default-media/video-plus-icon.jpg') }}">
                          <div class="carousel-caption d-none d-md-block">
                            <h5 class="text-dark">Ajouter de nouvelles videos</h5>
                          </div>
                        </a>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p>
  <hr class="my-4">
</div>
{# </div> #}
<!-- Page Section-->
<section class="bg-light py-10">
  {% block section %}
    <div class="container px-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-10 col-xl-8">
          <div class="single-post">
            {% if trick is defined %}
              <h1 class="mt-5 text-center">{{trick.name}}</h1>
              <div class="d-flex align-items-center justify-content-between mb-5">
                <div class="single-post-meta me-4">
                  <div class="single-post-meta-details">
                    <div class="single-post-meta-details-categorie"><h6>Catégorie : <span class="small">{{trick.category.name}}</span></h6></div>
                    <div class="single-post-meta-details-name mb-2"><h6>Auteur : <span class="small"> Nom de l'Auteur</span></h6> </div>
                    <div class="single-post-meta-details-date mb-2"><h6>Publié le <span class="small">{{trick.createdAt|date('d/m/Y') }}</span></h6></div>
                    <div class="single-post-meta-details-date"><h6>Mise à jour le <span class="small">{{trick.updatedAt|date('d/m/Y') }}</span> </h6></div>
                  </div>
                </div>
              </div>
              <div class="text-gray-500 text-center">Description </div>
              <div class="single-post-text my-5">
                <p>{{ trick.description }}</p>
                <hr class="my-5"/>
                <div class="text-center">
                  <a class="btn btn-outline-dark" href="{{ path('homepage')}}">Retour à la Liste des Figures</a>
                </div>
              </div>
            </div>
          {% endif %}
          {% for message in app.flashes('success') %}
            <div class="alert alert-success text-center">
              {{ message }}
            </div>
          {% endfor %}
          <!-- formulaire d'ajout de commentaires -->
          <!-- Symfony Form -->
          {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
          <div class="card mb-5 {{ form.content.vars.errors ? 'has-error' : '' }}">
            <div class="card-header text-secondary">LAISSEZ NOUS UN COMMENTAIRE</div>
            <div class="card-body">
              {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
              <span class="error-message">
                {{ form_errors(form.content) }}
              </span>
              <button type="submit" class="btn btn-secondary btn-sm mt-2">Ajouter</button>
            </div>
          </div>
          {{ form_end(form) }}

          <div class="mb-5">
            <p>Pour nous laissez votre commentaire vous devez être connecté ! Si non inscrivez vous pour vous connecter celà vous prendra environ 2 min</p>
            <a href="{{ path('connexion', { 'slug': 'loginForm'}) }}" class="btn btn-success btn-sm">Je me connecte</a>
            <a href="{{ path('register', { 'slug': 'inscription'}) }}" class="btn btn-secondary btn-sm">Je suis nouveau</a>
          </div>

          <!-- affichage des commentaires -->
          <section class="bg-light py-3">
            <div class="container px-5">
              <div class="row gx-5 justify-content-center">
                <div class="col-lg-10">
                  <h3 class="post-archive-tag">
                    <span class="translate-midlle badge rounded bg-secondary p-2">{{ comments|length }}</span>
                    COMMENTAIRES
                  </h3>
                  {% for comment in comments %}
                    <div>
                      <a class="post-archive-item">
                        {# <h5>Auteur du Commentaire: {{ comment.author }}</h5> #}
                        <p>{{ comment.content }}</p>
                      </a>
                      <div class="post-archive-meta">
                        <img class="post-archive-meta-img" src="/../mon-blog/public/assets/img/illustrations/profiles/profile-1.png"/>
                        <div class="post-archive-meta-details">
                          {# <div class="post-archive-meta-details-name">Auteur : {{ comment.author }}</div> #}
                          <div class="post-archive-meta-details-date">Commentaire ajouté le :
                            {{ comment.createdAt|date('d/m/Y') }}</div>
                        </div>
                      </div>
                    </div>
                    <hr class="my-5"/>
                  {% else %}
                    <p class="mb-5">
                      <span class="translate-midlle badge rounded bg-dark p-2">0</span>
                      commentaire pour ce post. Laissez nous votre commentaire, nous apprécions vos retours
                    </p>
                  {% endfor %}
                </div>
              </div>
            </div>
          </section>

        </div>
      </div>
    </div>
  {% endblock %}
</section>
</body>
{% endblock %}
