{% extends 'base.html.twig' %}
{% set page = 'requestForPasswordReset' %}

{% block title %}Réinitialiser mon mot de passe{% endblock %}
{% block header %}{% endblock %}

{% block body %}
  <body id="layoutAuthentication" class="bg-primary">
    <div id="layoutAuthentication_content">
      <main>
        <div class="container-xl px-4">
          <div class="row justify-content-center">
            <div class="col-lg-7">
              <!-- Basic login form-->
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header justify-content-center">
                  <h3 class="fw-light my-4">Demande de réinitialisation de mot de passe</h3>
                </div>
                <div class="card-body p-0">
                  <!-- Symfony Login form -->
                  {{ form_start(loginForm, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
                  <!-- Form Row-->
                  <div class="row gx-3 p-5 pb-2">
                    <div class="{{ loginForm.email.vars.errors ? 'has-error' : '' }}">
                      <!-- Form Group (email)-->
                      <div class="mb-3">
                        {{ form_label(loginForm.email, 'Adresse email *', {'label_attr': {'class': 'small mb-1'}}) }}
                        {{ form_widget(loginForm.email, {'attr': {'class': 'form-control'}}) }}
                        <span class="error-message">
                          {{ form_errors(loginForm.email) }}</span>
                      </div>
                    </div>
                  </div>
                  <!-- Form Group (login submit)-->
                  <div class="d-flex align-items-center justify-content-between p-5 pb-2 pt-2">
                    <a class="small text-black" href="{{ path('homepage') }}">Retour à l'accueil</a>
                    <button type="submit" class="btn btn-primary">Envoyer</button>
                  </div>
                  <div class="small text-muted p-5 pt-2 pb-2">
                    * Champs obligatoires
                  </div>
                  {{ form_end(loginForm) }}
                  <!-- Fin Symfony Login form -->
                  <div class="card-footer text-center">
                    <div class="small">
                      <a class="text-black" href="{{ path('register') }}">Vous n'avez pas de compte? Inscrivez-vous</a>
                    </div>
                  </div>
                </div>
                <!-- ... Le reste du code du formulaire existant -->
              </div>
            </div>
          </div>
        </main>
      </div>
    </body>
    <!-- Page footer-->
    {% block footer %}
    {% endblock footer %}
  {% endblock %}
